body {
    font-family: 'Inria Serif', sans-serif;
    padding: 0 80px;
  }
  a,.active{
    text-decoration: none;
  }
  @media (max-width: 991px) {
    body {
      padding: 0 20px;
    }
  }
  .breadcrumb,
  .faq-title,
  .faq-subtitle,
  .question,
  .answer {
    margin-top: 40px;
  }
  .breadcrumb {
    text-decoration: none;
  }
  .link{
    text-decoration: underline;
  }
  .faq-title {
    font-size: 60px; 
    font-weight: bold; 
  }
  .faq-subtitle {
    font-size: 40px; 
  }
  .question-link,
  .answer-text {
    display: block;
    border-radius: 5px;
    padding: 27px 60px;
    margin-top: 44px;
  }
  .question-link {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 700;
  }
  .answer-text {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .image-gallery {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 97px;
    gap: 18px;
  }
  .gallery-img {
    width: 40px;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
  }