.box{
    display: flex;
    position: relative;
}
.home_r4_image img{
    width: 25%;
    position: absolute;
    right: 20rem;
    left: 2rem;
    top: 4rem;
}
.vdo{
    top: -5rem;
    position: absolute;
    right: 2rem;
}
.card-center {
    width: 70rem;
    /* กำหนดความกว้างของการ์ด */
    height: 25rem;
    /* กำหนดความสูงของการ์ด */
    margin: 0 auto;
    /* ทำให้ div อยู่ตรงกลาง */
    text-align: center;
    /* ทำให้ข้อความอยู่ตรงกลาง */
    background-color: rgb(238, 238, 238);
    /* เปลี่ยนสีพื้นหลัง */
    padding-left: 5rem;
    padding-right: 5rem;
    /*เลื่อนเข้าใน*/
    margin-right: -5rem;
    position: absolute;
    z-index: -1;
    left: 10rem;
  }

  .card-text {
    margin-top: 6rem;
    margin-left: 12rem;
    margin-right: 10rem;
    text-align: left;
    /* จัดตำแหน่งข้อความชิดซ้าย */
  }

  .th_page {
    margin-top: 30rem; /* เพิ่มระยะห่างด้านล่าง */
  }

  .th_im img{
    width: 80rem; /* กำหนดความกว้างของรูปภาพ */
    height: 90rem;
  }

  .th_im{
    text-align: center;
  }
