.profile img {
    width: 40px;
}

.news-img {
    width: 95%;
    height: 500px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.news_con{
    box-shadow: 1px 1px 4px rgb(0, 0, 0,0.5);
}

/* .news-title, .news-date, .news-content {
    margin: 10px 0;
}
.news-title {
    font-weight: 700;
    font-size: 30px;
}
.news-date {
    font-weight: 400;
    font-size: 20px;
}
.news-content {
    font-weight: 500;
    font-size: 20px;
}
.news-img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}
.page-navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 24px;
} */