.profile img {
    width: 40px;
}

/* crop img */
.news-img {
    width: 95%;
    height: 500px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}
.news_con{
    box-shadow: 1px 1px 4px rgb(0, 0, 0,0.5);
}

/* pop up */

.popup-news {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
  }
  
  .popup-news .news-card {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    object-fit: cover;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgb(0, 0, 0,0.5);
    padding: 10px;
  }

  .popup-news .news-image-popup{
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-bottom: 15px;
  }

  .popup-news .news-text{
    padding-bottom: 20px;
    text-align: start;
  }
/*   
  .popup-news .news-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    padding-top: 15px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    background-color: #fff;
    box-shadow: 1px 1px 1px rgb(0, 0, 0,0.5);
  } */
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(0, 0, 0, 0.4);
    text-decoration: none;
    cursor: pointer;
  }

  .change{
    /* display: none; */
  }