body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    background-color: #716564;
    padding: 19px 42px;
  }
  .logo-and-title {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
  }
  .logo-and-title img {
    width: 73px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-item {
    color: #fff;
    font-weight: 400;
    margin: 0 12px;
  }
  .menu-item img {
    width: 24px;
  }
  .search-bar {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    margin-top: 15px;
  }
  .footer-logo img {
    width: 50px;
  }
  .search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
  }
  .search-bar img {
    width: 24px;
  }
  .section-title {
    font-size: 60px;
    color: #000;
    font-weight: 700;
  }
  .breadcrumb {
    color: #000;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 400;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  .room {
    flex: 1 1 30%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .room img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  .room-info {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin: 15px 0;
  }
