
.profile-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    
}
.profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* .profile-action {
    display: flex;
    align-items: center;
} */
/* .action-btn {
    background-color: #716564;
    color: #fff;
    padding: 10px 15px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
} */

.bold-text {
    font-weight: 700;
    
}

/* aaaaaaaaaaaaaaaaaaa*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh; /* ทำให้ main มีความสูงเท่ากับ viewport height */
}

.profile-section {
  border: 2px solid #716564; /* เพิ่มเส้นขอบ */
  background-color: #fff;
}

.profile-info {
  text-align: left;
  width: 700px; /* ปรับขนาดรูปตามที่ต้องการ */
  height: 700px; /* ปรับขนาดรูปตามที่ต้องการ */
  
  /* border-radius: 10px; ทำให้มีขอบมนเล็กน้อย */
  line-height: 3; /* เพิ่ม line-height สำหรับเพิ่มระยะห่างระหว่างบรรทัด */
}


.profile-img {
  height: auto; /* รักษาสัดส่วนของรูป */
  border-radius: 50%; /* ทำให้มีรูปร่างวงกลม */
  
  /* ทำให้ รูปอยู่ตรงกลาง */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.bold-text {
  font-weight: bold;
}

.profile-action {
  text-align: center;
  padding: 20px;
}

/* .action-btn {
  margin: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

.action-btn:hover {
  background-color: #0056b3;
} */

.profile-action {
  display: flex;
  gap: 10px; /* ปรับระยะห่างตามความต้องการ */
}

/* .profile-action a {
  /* padding: 5px 10px; 
  background-color: #716564;  สีพื้นหลัง 
  color: #716564;  สีตัวอักษร 
  border-radius: 5px;
  text-decoration: none; 
}*/


a .submit-btn {
  color: #fff; /* เปลี่ยนสีตัวหนังสือเป็นสีแดง */
  /* สามารถใส่ค่าสีแบบ RGB, Hex, หรือชื่อสีได้ตามต้องการ */
  background-color: #716564;
  border: none;
  padding: .5rem 1.5rem;
}

a.cancle-btn{
  color: #716564;
}

.vip {
  font-size: 20px; /* ปรับขนาดตัวหนังสือให้ใหญ่ขึ้น */
  /* สามารถปรับค่าได้ตามต้องการ */
}

.editja{
  margin-left: 1px;
  color: #000000; /* เปลี่ยนสีของลิงค์เป็นสีแดง (หรือสีที่คุณต้องการ) */
  text-decoration: none; 
  margin-top: 5px;
  margin-right: 15px;
}

.pen-img {
  width: 35px; /* ปรับขนาดความกว้างตามที่ต้องการ */
  height: 35px; /* รักษาสัดส่วนของรูป */
  border-radius: 50%; /* ทำให้มีรูปร่างวงกลม */
  margin-right: 0px;
   /* ระยะห่างระหว่างรูปและข้อความ */
  margin-left: 185px;
  margin-top: 15px;
}

body {
  background: linear-gradient(to bottom, #EDE7E6 50%, #ffffff 50%);
  /* background-size: 2px 100%; ขนาดของเส้นขั้น (2px ความกว้าง x 100% ความสูง) */
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}


/* ปรับขนาดสำหรับแสดงในแท็ปเล็ต */
@media screen and (max-width: 992px) {
  main {
    height: 90vh; 
  }

  .profile-info {
    width: 100%;
    height: 50vh;
}
}
