/* @ -0,0 +1,43 @@ */
.aaa{
    color: red;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.head-box{
    text-align: center;
}
.warn{
    font-size: smaller;
}
label{
    line-height: 2.5rem;
}
.box-1{
    border: 2px solid #716564;
    background-color: #EDE7E6;
    text-align: start;
    padding: 2rem 6rem 3rem 6rem;
}
.box-1 input{
    width: 20rem;
}
.box-1 button{
    margin-top: 1.5rem;
    width: 20rem;
    height: 2rem;
    background-color: #716564;
    color: white;
    border: 0px;
}
.box-2{
    text-align: center;
    margin-top: 1rem;
}
.box-2 a{
    color: #716564;
}